#imgMissao{

  width: 15%;

}

/* Seção Sobre - Efeito Parallax */
.sobre {
  position: relative;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('/src/assets/sobreFundo.jpg');
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.section-info.active {
  opacity: 1;
  transform: translateY(0);
}


.animacaoSeta{

  text-align: center;

}
/* Estilo da seta */
.seta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;  /* Ajuste a posição conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  animation: blink 1.5s infinite;  /* Aplica a animação de piscar */
}

/* Animação de piscar */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Efeito de transição para o título */
.sobre .titulo-container-principal {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  transform: translateY(0);
  transition: color 0.5s ease-out;
  margin-bottom: 20px;
}

.sobre .descricao {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
  max-width: 800px;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out;
}

/* Animação para o texto da seção 'Sobre' */
.sobre.active .titulo-container-principal,
.sobre.active .descricao {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Efeito de Fade In quando a seção fica visível */
.section-info {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  padding: 6rem 3rem;
  border-radius: 8px;
  /*box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);*/
  width: 100vw;
  justify-content: space-between;
}

.section-info.active {
  opacity: 1;
  transform: translateY(0);
}

.missao .section-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
  transition: color 0.5s ease;
}

.missao .section-description {
  color: #7f8c8d;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.missao:hover .section-title {
  color: #3498db;
}

/* Efeitos nas seções - Visão */
.visao {
  background-color: #4682B4;
  color: #fff;
  border-left: 8px solid #285579;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.visao .section-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}

.visao .section-description {
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.valores .section-title {
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
  font-weight: 600;
}

.valores .section-description {
  display: flex;
  color: #7f8c8d;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.valores ul {
  list-style-type: disc;
  text-align: left;
  margin: 2rem auto;
  padding-left: 2rem;
}
.valores ul li{

  display: flex;
  flex-direction: column;
  align-items: center;

}
/* Efeitos nas seções - Equipe */
.equipe {
  background-color: #E4F5D4;
  border-left: 8px solid #2ecc71;
  margin-bottom: 0;
}

.equipe .section-title {
  font-size: 2.5rem;
  color: #2c3e50;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.equipe .section-description {
  color: #7f8c8d;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

/* Animando os membros da equipe */
.team-members {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.team-members .box-members{

  display: flex;
  gap:1em;

}

.member {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.member.active {
  opacity: 1;
  transform: translateY(0);
}

.member-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.member-name {
  font-weight: bold;
  color: #34495e;
}

.member-role {
  font-size: 1rem;
  color: #7f8c8d;
}

/* Efeito de Fade In para membros */
.team-members.active .member {
  opacity: 1;
  transform: translateY(0);
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {

  .section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-members {
    flex-direction: column;
    gap: 1.5rem;
  }
  .member {
    width: 100%;
  }
  .team-members .box-members {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .valores .section-description{

    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0;

  }
}

@media (max-width: 1000px) {

  .equipe{

    display: flex;
    flex-direction: column;

  }
  .member {
    width: 100%;
  }


}
.valoresBox{

  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* NÃO TIRAR AQUI DE BAIXO */
/* Definindo a classe para animar a opacidade e a posição */
.sobre-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.sobre-visible {
  opacity: 1;
  transform: translateY(0);
}

section{}