footer {
  background: #9a348e;
  color: #fff;
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5em;
  background-color: #5b82bbd1;
  /*background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(118,146,185,1) 40%);*/
}

#logo {
  font-size: 3em;
  font-weight: 700;
}

ul li {
  cursor: pointer;
  display: inline;
  margin-right: 1em;
  font-size: 1em;
}

#cima:hover {
  text-decoration: underline;
  font-size: 1.1em;
  transition: font-size 1s;
}

.listaLinks {
  display: flex;
  list-style-type: none;
  margin-top: 1.8rem;
  margin-left: 4.8rem;
  gap: 2.2rem;
}

.listaRedesSociais {
  display: flex;
  list-style-type: none;
  margin-top: 1.8rem;
  margin-left: 4.8rem;
  gap: 2.2rem;
}

.linksERedes {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}