@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* Fundo do background */
.fundo{

  animation: BgAnimation 20s infinite alternate;
  background-size: cover;
  background-position: center;

}
.fotos{ background: linear-gradient(270deg, rgb(0 0 0 / 50%) 60%, rgb(0 0 0 / 50%) 60%);}
/* Animação de fundo */
@keyframes BgAnimation {
  0% { background-image: url('./assets/image1.jpeg'); }
  30% { background-image: url('./assets/image2.jpeg'); }
  60% { background-image: url('./assets/image3.jpeg'); }
  100% { background-image: url('./assets/image4.jpeg'); }
}

/* Lua ativa os estilos abaixo caso alguma pagina sua quebre o layout */

/*input, button{

  border: none;
  outline: none;
  cursor: pointer;

} 

/* a {

  color: white;
  font-size: 1em;
  text-decoration: none;

}
a:hover{
  
  padding-bottom: 5px;
  text-decoration: underline;
} */

ul li {

  cursor: pointer;
  display: inline;
  font-size: 1em;
  list-style-type: none;
  margin-right: 1em;
  
}

.check-list li::before {
  content: "✓"; /* Símbolo de check */
  color: rgb(255, 255, 255); /* Define a cor do símbolo */
  font-weight: bold;
  margin-right: 8px; /* Espaço entre o símbolo e o texto */
}