@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

body{
  background: rgb(74,0,123);
  background: linear-gradient(90deg, rgba(74,0,123,1) 0%, rgba(130,74,173,1) 53%, rgba(124,24,140,1) 100%);

}

.tudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
  padding: 3em;
  backdrop-filter: blur(400px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: 0.2em;
  margin: 0 auto;
}

.titulo {
  margin: 1em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 700;
}

.pesquisa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

select,
input[type="text"],
button {
  border-radius: 5px;
  border: 1px solid black;
  height: 4em;
  font-size: 1em;
  padding-left: 10px;
  border: none;
}


input[type="text"] {
  width: 20em;
}

button {
  background-color: #4A007B;
  color: white;
  width: 7em;
  font-weight: 700;
  padding: 0;
  
}

button:hover {
  background-color: #7A00A3;
}


