@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #540B5C;
  color: #C3B0C4;
}

.tudo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #933299;
  border-radius: 10px;
  padding: 3em;
}

.titulo {
  margin: 1em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 700;
}

.pesquisa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

select,
input[type="text"],
button {
  border-radius: 5px;
  border: 1px solid black;
  height: 4em;
  font-size: 1em;
}


select:focus {
  outline: none;
  border-color: #7A00A3;
}

select {
  width: auto;
}

input[type="text"] {
  width: 20em;
}

button {
  background-color: #ed8e00;
  color: white;
  width: 7em;
  font-weight: 700;
}

button:hover {
  background-color: #7A00A3;
}


