@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.fundo{

  animation: BgAnimation 10s linear infinite alternate;
  background-size: cover;
  background-position: center;

}

/* Animação de fundo */
@keyframes BgAnimation {
  
  0%{background-image: url('./assets/img1.jpeg')}
  30%{background-image:url('./assets/img2.jpg')}
  60%{background-image:url('./assets/img3.jpg')}
  100%{background-image:url('./assets/img5.jpg')}
  
}

/* Estilização geral do botão */
input, button{

  border: none;
  outline: none;
  cursor: pointer;

}

a {

  color: white;
  font-size: 1em;
  text-decoration: none;

}
a:hover{
  
  padding-bottom: 5px;
  text-decoration: underline;
}

ul li {

  cursor: pointer;
  display: inline;
  font-size: 1em;
  list-style-type: none;
  margin-right: 1em;
  
}