/* Ajuste para o Sidebar (se estiver desalinhado) */
.sidebar {
    width: 300px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Caixa principal que segura tudo */
.form-container {
    height: 100vh;
    transition: margin-left 0.3s ease; /* animação de transição */
}

/* Ajusta a posição do formulário quando o sidebar está visível */
.form-container.form-expanded {
    margin-left: 300px; /* Largura do Sidebar */
}

/* O titulo da página */
.form-container h1,
#detalhVagas {
    color: #718CB3;
    font-weight: 600;
    font-size: 1.7em;
}

#detalhVagas {
    font-size: 1.3em;
}

.form-container {
    margin-top: 20px;
}

/* Caixa do form */
.form-container form {
    border: 2px solid #E8EAEC;
    width: 50vw;
    border-radius: 10px;
}

/* Ajeitar espaçamentos dos titulos das perguntas */
.form-container form .titulosInputs {
    font-size: 1em;
    color: #718CB3;
    font-weight: 600;
}

/* Ajeitar as caixas de perguntas */
.form-container form input {
    border: 2px solid #E8EAEC;
    border-radius: 5px;
    padding: 5px;
}

/* Estilo do botão para alternar o Sidebar */
.toggle-sidebar-btn {
   
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
  }
  
  /* Alteração de estilo para o botão quando o menu estiver aberto */
  .toggle-sidebar-btn:hover {
    background-color: #34495e;
  }
  