main{

    align-items: center;
    display: flex;
    justify-content: center;

}

.alinhamento{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#caixaCadastro{

    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #000;
    height: calc(100vh - 10rem);
    overflow: auto;
    padding: 40px;
    width: 50vw;

}

#caixaCadastro div{margin: 10px 0;}

/* Formatação do form */

#caixaCadastro label{display: block;}
#caixaCadastro form{width: 100%;}

#caixaCadastro form input,
#caixaCadastro select{

    border-radius: 4px;
    background: #fff;
    border: 1px solid #565656;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    height: 50px;
    line-height: 1.5;
    margin: 5px 0;
    outline: none;
    padding: 0 15px;
    width: 100%;

}

#caixaCadastro span{

    margin-bottom: 20px;
    color: #000;

}

/* Estilização do placeholder */
input::placeholder {

    color: #a6a6a6;
    font-weight: 500;
    
}

input:focus{border: 2px solid #fff;}

input:focus::placeholder{

    font-size: 0.8em;
    position:relative;
    top: -5px;
    transform: translateY(-50%);
    transition: all 0.3s ease; 

}

/* Quando não estiver em foco */
input:not(:focus)::placeholder {

    top: 0px;
    transition: all 0.3s ease; 

}

/*Botão submit*/
#caixaCadastro input[type='submit']{

    background: #425BD6;
    color: #fff;
    border:none;
    cursor: pointer;
}

#caixaCadastro input[type='submit']:hover{

    background: #334ed8;
    transition: background 1s;

}

/* Rolagem da caixa */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#descricao{

    align-items: center;
    background: #5b82bbd1;
    color: #fff;
    display: flex;
    height: calc(100vh - 10rem);
    padding-left: 2rem;
    width: 50vw;

}
#descricao h2{margin-bottom: 20px;}
#descricao ul li{

    display: block;
    margin: 15px 0;

}