body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#caixaCadastro{

    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    /*height: 500px;*/
    padding: 40px;

}

#caixaCadastro div{

    margin: 10px 0;

}
label{

    display: block;

}
form{

    width: 100%;

}

form input{

    border-radius: 4px;
    background: #171717c0;
    border: 1px solid #565656;
    color: #b8b8b8;
    font-size: 1em;
    font-weight: 500;
    height: 50px !important;
    line-height: 1.5;
    /*margin-bottom: 15px;*/
    margin: 5px 0;
    outline: none;
    padding-left: 15px;
    width: 100% !important;

}

/* Estilização do placeholder */
input::placeholder {

    color: #a6a6a6;
    font-weight: 500;
    
}

input:focus{border: 2px solid #fff;}

input:focus::placeholder{

    font-size: 0.8em;
    position:relative;
    top: -5px;
    transform: translateY(-50%);
    transition: all 0.3s ease; 

}

/* Quando não estiver em foco */
input:not(:focus)::placeholder {

    top: 0px;
    transition: all 0.3s ease; 

}

span{

    margin-bottom: 20px;
    color: red;

}