main#main-cadastrousuario{

    display: flex;
    justify-content: center;

} 

.alinhamentousuario{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#caixaCadastroUsuario{

    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #000;
    padding: 100px;
    width: 50vw;

}

.opcoesHeaderUsuario{
    margin-top: 1em;
    display: flex;
    gap: 2em;
}

.titulo_expliu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#caixaCadastroUsuario div{margin: 10px 0;}

/* Estilos para a lista com o símbolo de check */
.check-list {
    list-style-type: none; /* Remove a numeração padrão */
    padding: 0;
    margin: 0;
}

.check-list li::before {
    content: "✓"; /* Símbolo de check */
    color: rgb(255, 255, 255); /* Define a cor do símbolo */
    font-weight: bold;
    margin-right: 8px; /* Espaço entre o símbolo e o texto */
}

/* Formatação do form */

#caixaCadastroUsuario label{display: block;}
#caixaCadastroUsuario form{width: 100%;}

#caixaCadastroUsuario form input,
#caixaCadastroUsuario select{
    border-radius: 15px;
    /*background: #171717c0;*/
    background: #fff;
    border: 2px solid #2F6FCC;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.362);
    color: #000;
    font-size: 1em;
    font-weight: 500;
    height: 50px !important;
    line-height: 1.5;
    /*margin-bottom: 15px;*/
    margin: 5px 0;
    outline: none;
    padding: 0 15px;
    width: 100% !important;

}

#caixaCadastroUsuario span{

    margin-bottom: 20px;
    color: gray;

}

/* Estilização do placeholder */
input::placeholder {

    color: #a6a6a6;
    font-weight: 500;
    
}

input:focus{border: 2px solid #fff;}

input:focus::placeholder{

    font-size: 0.8em;
    position:relative;
    top: -5px;
    transform: translateY(-50%);
    transition: all 0.3s ease; 

}

/* Quando não estiver em foco */
input:not(:focus)::placeholder {

    top: 0px;
    transition: all 0.3s ease; 

}

/*Botão submit*/
#caixaCadastroUsuario input[type='submit']{

    background: #718CB3;
    color: #fff;
    border:none;
    cursor: pointer;
}

#caixaCadastroUsuario input[type='submit']:hover{

    background: #3f5c88 !important;
    transition: background 1s;

}

/* Rolagem da caixa */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#descricaoUsuario{

    align-items: center;
    background: #718CB3;
    color: #fff;
    display: flex;
    height: calc(100vh -10rem );
    padding-left: 2rem;
    width: 50vw;

}
#descricaoUsuario h2{margin-bottom: 20px;}
#descricaoUsuario ul li{

    display: block;
    margin: 15px 0;

}

#expliu {
    width: 50vw;
    background: #718CB3;
    color: #fff;
    padding-left: 2rem;
    justify-content: space-around;

}

#expliu p {
    margin-top: 10px;
    font-size: 1.2em;
    margin-left: 1.1rem;
}

#expliu h2{
    
    font-weight: bold;
    font-size: 2rem;
    margin-right: 11rem;

}
#expliu ul li{

    display: block;
    margin: 15px 0;
    margin-right: 2.8rem;
    
}

.logo-imageu {
    width: 170px; /* Defina a largura desejada */
    height: auto; /* Ajusta a altura proporcionalmente */
    margin-top: 8rem;
    margin-bottom: 0.5cm;
}

.alinhamentousuarioP{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

.alinhamentousuarioS{
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 0.6rem;
}