main#main-loginempresa {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse; 
}
#expliu-loginempresa {
    width: 50vw;
    color: #fff;
    padding-right: 2rem;
    justify-content: space-around;
}

.expliu-loginempresa{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#caixaLoginEmpresa {
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #000;
    width: 50vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alinhamentoLoginEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.alinhamentoLoginEmpresa h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.expliu-loginempresa{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.alinhamentoLoginEmpresa span {
    font-size: 0.9em;
    color: gray;
    text-align: center;
}

#caixaLoginEmpresa form {
    width: 100%;
}

#caixaLoginEmpresa form div {
    margin: 10px 0;
}

#caixaLoginEmpresa form input,
#caixaLoginEmpresa select {
    border-radius: 15px;
    border: 2px solid #2F6FCC;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.362);
    font-size: 1em;
    font-weight: 500;
    height: 50px;
    line-height: 1.5;
    margin: 5px 0;
    outline: none;
    padding: 0 15px;
    width: 100%;
}

#caixaLoginEmpresa input[type='submit'] {
    background: #718CB3 !important;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#caixaLoginEmpresa input[type='submit']:hover {
    background: #3f5c88 !important;
    transition: background 1s;
}

input::placeholder {
    color: #a6a6a6;
    font-weight: 500;
}

input:focus {
    border: 2px solid #fff;
}

input:focus::placeholder {
    font-size: 0.8em;
    position: relative;
    top: -5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

input:not(:focus)::placeholder {
    top: 0px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.logo-image-loginempresa {
    width: 170px; 
    height: auto; 
    margin-top: -6em;
    position: relative;
    margin-bottom: 0.5cm;
    margin-left: 15rem;
}

.alinhamentoLoginEmpresaTitulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

.opcoesHeaderLoginEmpresa {
    display: flex;
    gap: 2em;
    position: relative;
    top: -3em;
   
}

.alinhamentoLoginEmpresaTexto {
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 0.6rem;
}

#expliu-loginempresa p {
    margin-top: 10px;
    font-size: 1.2em;
    margin-left: 6rem;
}

#expliu-loginempresa h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 6rem;
}

#expliu-loginempresa ul li {
    display: block;
    margin: 15px 0;
    margin-left: 6rem;
}


@media (max-width: 1121px) {

    main#main-loginempresa {
 
        flex-direction: column;
    
    }
 
    #expliu-loginempresa, #caixaLoginEmpresa{
        width: 100vw;
        padding-bottom: 20px;
    }
 
    #expliu-loginempresa h2 {
        font-size: 1.5rem;
    }
    #expliu-loginempresa p {
        font-size: 1em;
    }
 }
 
 @media (max-width: 768px){
 
    .alinhamentoLoginEmpresaLogo{
 
        width: auto !important;
 
    }
 
 }

 