main#main-cadastroempresa{

    display: flex;
    justify-content: center;

}

.alinhamentoEmpresa{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#caixaCadastroEmpresa{

    background: url('../../assets/back.svg');
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #000;
    width: 50vw;
    padding: 100px;

}

.opcoesHeaderCadastro{
    margin-top: 1em;
    display: flex;
    gap: 2em;
}

.titulo_expli {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#caixaCadastroEmpresa span{color: gray;}

#caixaCadastroEmpresa div{margin: 10px 0;}

/* Formatação do form */

label{display: block;}
form{width: 100%;}

#caixaCadastroEmpresa form input,
#caixaCadastroEmpresa select{

    border-radius: 15px;
    /*background: #171717c0;*/
    background: #fff;
    border: 2px solid #2F6FCC;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.362);
    color: #000;
    font-size: 1em;
    font-weight: 500;
    height: 50px !important;
    line-height: 1.5;
    /*margin-bottom: 15px;*/
    margin: 5px 0;
    outline: none;
    padding: 0 15px;
    width: 100% !important;

}

/* Estilização do placeholder */
input::placeholder {

    color: #a6a6a6;
    font-weight: 500;
    
}

input:focus{border: 2px solid #fff;}

input:focus::placeholder{

    font-size: 0.8em;
    position:relative;
    top: -5px;
    transform: translateY(-50%);
    transition: all 0.3s ease; 

}

/* Quando não estiver em foco */
input:not(:focus)::placeholder {

    top: 0px;
    transition: all 0.3s ease; 

}

/*Botão submit*/
#caixaCadastroEmpresa input[type='submit']{

    background: #718CB3!important;
    color: #fff;
    border:none;
    cursor: pointer;
}

#caixaCadastroEmpresa input[type='submit']:hover{

    background: #3f5c88 !important;
    transition: background 1s;

}

/*Span de erro*/
span{

    margin-bottom: 20px;
    color: #fff;

}

/* Rolagem da caixa */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#expli {
    width: 50vw;
    background: #718CB3;
    color: #fff;
    padding-left: 2rem;
    justify-content: space-around;

}

#expli p {
    margin-top: 10px;
    font-size: 1.2em;
    margin-right: 0.5rem;
}

#expli h2{
    
    font-weight: bold;
    font-size: 2rem;
    margin-right: 11rem;

}
#expli ul li{

    display: block;
    margin: 15px 0;
    margin-right: 2.8rem;
    
}

.alinhamentoEmpresaP{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 0.6rem;
}

.alinhamentoEmpresaS{
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 0.6rem;
}

/* Estilos para a lista com o símbolo de check */

.logo-image {
    width: 170px; 
    height: auto; 
    margin-top: 8rem;
    margin-bottom: 0.5cm;
}

.senha-requisitos ul {
    list-style-type: disc; 
    display: block; 
    margin: 0; 
}

.senha-requisitos li {
    margin-bottom: 5px; 
    display: list-item; 
}



@media (max-width: 1121px) {

    main#main-cadastroempresa{

        flex-direction: column;
    
    }

    #expli, #caixaCadastroEmpresa{
        width: 100vw;
        padding-bottom: 20px;
    }

    #expli h2 {
        font-size: 1.5rem;
    }
    #expli p {
        font-size: 1em;
    }
}

@media (max-width: 768px){

    .alinhamentoEmpresa{

        width: auto !important;

    }

}